doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .container
    img.logo(src='/images/logo.png')
    nav
     ul
      li
       a(href='/') Home
      li
       a(href='/posts/add') Add Post
      if user
       li
        a(href = '/posts/author/#{user.name}') My Posts
      .logout
       if user
        li 
         a(href = '/users/logout') Logout
    != messages()
    block content
    footer
     p NodeBlog &copy; 2018
